/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

.navbar-brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

.navbar-custom{
    background-color: #F0FFF1;
}

.vid-title{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    margin-top: 20px;
}

.share-container{
  background-color: #F0FFF1;
  height: 70vh;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: #008000 solid 2px;
}

.card-custom{
    background-color: #F0FFF1;
}
